<template>
  <v-layout row wrap>
    <v-flex sm12>
      <Profile
        :display-name="profile.displayName"
        :description="profile.description"
        :avatar="profile.avatar"
        :tags="profile.tags"
      />
    </v-flex>
  </v-layout>
</template>

<script>
import Profile from '@/components/Profile'

export default {
  components: {
    Profile
  },
  computed: {
    profile: function () {
      return this.$store.state.profile.profile
    }
  },
  mounted() {
    this.$nextTick(() => {
      const id = this.$nuxt._route.params.id
      this.$store.dispatch('profile/load', id)
    })
  }
}
</script>
