<template>
  <v-toolbar flat class="transparent">
    <v-list v-if="profile" class="pa-0">
      <v-list-tile avatar>
        <v-list-tile-avatar>
          <img :src="profile.avatar">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title>{{ profile.displayName }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-list v-else class="pa-0">
      <v-list-tile avatar @click="googleLogin">
        <v-list-tile-avatar>
          <img src="@/assets/images/avatar-placeholder.svg" alt="">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title>
            <v-icon color="red">
              fab fa-google-plus-g
            </v-icon>
            entrar
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-toolbar>
</template>

<script>
export default {
  data() {
    return {
      drawer: false
    }
  },
  computed: {
    logged: function () {
      return this.$store.getters['auth/isAuthenticated']
    },
    profile: function () {
      return this.$store.state.auth.profile
    }
  },
  mounted: function () {
    this.$store.dispatch('auth/authCheck')
  },
  methods: {
    googleLogin: function () {
      this.$store.dispatch('auth/loginGoogle')
    },
    logout: function () {
      this.$store.dispatch('auth/logout')
    }
  }
}
</script>
