<template>
  <v-list v-if="logged" class="pt-0 drawer" dense>
    <v-list>
      <v-list-tile nuxt to="/me">
        <v-list-tile-action>
          <v-icon>far fa-id-card</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>Meu perfil</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile nuxt to="/tags">
        <v-list-tile-action>
          <v-icon>fas fa-tags</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>Editar Tags</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-list>
      <v-list-tile>
        <v-list-tile-action>
          <v-switch v-model="darkMode" />
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>Dark Mode</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile @click="logout">
        <v-list-tile-action>
          <v-icon>
            fas fa-sign-out-alt
          </v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>Sair</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-list>
</template>

<style scoped>
.drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
}
</style>

<script>
export default {
  data() {
    return {
      items: []
    }
  },
  computed: {
    logged: function () {
      return this.$store.getters['auth/isAuthenticated']
    },
    darkMode: {
      get() {
        return this.$store.state.profile.darkMode
      },
      set() {
        this.$store.commit('profile/setDarkMode')
      }
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('auth/logout')
    }
  }
}
</script>
