<template>
  <v-card :to="`/profiles/${link}`">
    <v-img
      :src="avatar"
    />

    <v-card-title primary-title>
      <div>
        <h3 class="headline mb-0">
          {{ displayName }}
        </h3>
        <div> {{ description }} </div>
        <div v-if="tags">
          <v-chip v-for="tag in tags.slice(0, 3)" :key="tag" small>
            {{ tag }}
          </v-chip>
        </div>
      </div>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  props: {
    avatar: {
      type: String,
      default: ''
    },
    displayName: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    link: {
      type: String,
      default: ''
    },
    tags: {
      type: Array,
      default: function () {
        return []
      }
    }
  }
}
</script>
