<template>
  <v-card>
    <v-layout row nowrap>
      <v-flex xs4>
        <v-img
          :src="avatar"
        />
      </v-flex>
      <v-flex xs8>
        <v-card-title primary-title>
          <v-flex xs12>
            <h3 class="headline mb-0">
              {{ displayName }}
            </h3>
            <v-flex xs12>
              {{ description }}
            </v-flex>
          </v-flex>
          <v-flex xs12>
            <div>
              <v-chip v-for="tag in tags" :key="tag">
                {{ tag }}
              </v-chip>
            </div>
          </v-flex>
        </v-card-title>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  name: 'Profile',
  props: {
    avatar: {
      type: String,
      default: ''
    },
    displayName: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    tags: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  beforeDestroy() {
    this.$store.commit('profile/resetProfile')
  }
}

</script>
