<template>
  <v-app :dark="darkMode">
    <v-navigation-drawer
      v-model="drawer"
      fixed
      temporary
    >
      <DrawerToolbar />
      <DrawerList />
    </v-navigation-drawer>

    <v-toolbar
      fixed
      app
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title dark>
        <nuxt-link to="/" class="link">
          Ateliê Profiles
        </nuxt-link>
      </v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container
        fill-height
      >
        <nuxt />
      </v-container>
    </v-content>

    <v-footer
      fixed
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<style scoped>
.link {
  color: inherit;
  text-decoration: inherit;
}
</style>

<script>
import DrawerList from '@/components/DrawerList'
import DrawerToolbar from '@/components/DrawerToolbar'
export default {
  components: {
    DrawerList,
    DrawerToolbar
  },
  data() {
    return {
      drawer: false
    }
  },
  computed: {
    darkMode: function () {
      return this.$store.state.profile.darkMode
    }
  },
  mounted: function () {
    this.$store.dispatch('auth/authCheck')
  }
}
</script>
