<template>
  <v-layout
    v-if="logged"
    row
    wrap
  >
    <v-flex
      v-for="(profile, key) in list"
      :key="key"
      xs12
      sm4
      md3
      lg3
      pa-2
    >
      <ProfileCard
        :link="key"
        :avatar="profile.avatar"
        :display-name="profile.displayName"
        :description="profile.description"
        :tags="profile.tags"
      />
    </v-flex>
  </v-layout>
  <v-layout
    v-else
    row
    wrap
    align-center
    justify-center
    fill-height
  >
    <v-flex
      xs6
      pa-2
    >
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">
              Faça o login para ver os perfis. :)
            </h3>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat @click="googleLogin">
            <v-icon color="red">
              fab fa-google-plus-g
            </v-icon>
            entrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import ProfileCard from '@/components/ProfileCard'
export default {
  name: 'Home',
  components: {
    ProfileCard
  },
  computed: {
    list: function () {
      return this.$store.state.list.list
    },
    logged: function () {
      return this.$store.getters['auth/isAuthenticated']
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('list/loadProfiles')
    })
  },
  methods: {
    googleLogin: function () {
      this.$store.dispatch('auth/loginGoogle')
    }
  }
}
</script>
