<template>
  <v-layout>
    <v-flex v-if="profile" xs12 sm6 offset-sm3>
      <v-card>
        <v-img
          :src="profile.avatar"
        >
          <v-layout
            column
            fill-height
          >
            <v-card-title>
              <v-spacer />

              <v-btn dark icon class="mr-3" @click="editing = true">
                <v-icon>edit</v-icon>
              </v-btn>
            </v-card-title>

            <v-spacer />

            <v-card-title class="white--text pl-5 pt-5">
              <div v-if="!editing" class="display-1 pl-5 pt-5">
                {{ profile.displayName }}
              </div>
            </v-card-title>
          </v-layout>
        </v-img>

        <v-card-title primary-title>
          <v-flex v-if="!editing" xs12>
            <v-flex xs12>
              {{ profile.description }}
            </v-flex>
            <v-flex xs12>
              <v-chip v-for="tag in tags" :key="tag">
                {{ tag }}
              </v-chip>
            </v-flex>
          </v-flex>
          <v-flex v-else xs12>
            <h3 class="headline mb-0">
              <v-text-field
                v-model="displayName"
                label="Nome"
              />
            </h3>
            <v-flex xs12>
              <v-text-field
                v-model="description"
                label="Descricao"
              />
            </v-flex>

            <v-flex xs12>
              <v-combobox
                v-model="tags"
                :items="tagList"
                chips
                multiple
                label="No que eu sou bom?"
              />
            </v-flex>
          </v-flex>
        </v-card-title>

        <v-card-actions>
          <v-btn v-if="editing" flat @click="save">
            Salvar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'MyProfile',
  computed: {
    tagList: function () {
      return this.$store.state.list.tags
    },
    tags: {
      get() {
        const tagArray = []
        const tags = this.$store.state.auth.tags
        if (!tags) {
          return []
        }
        this.$store.state.auth.tags.forEach((tag) => {
          tagArray.push(tag)
        })
        return tagArray
      },
      set(value) {
        let tag
        const userTags = this.tags

        if (value.length > userTags.length) {
          tag = this.uniq(value, userTags)
          this.$store.dispatch('auth/setTag', tag)
        } else {
          tag = userTags.filter(x => !value.includes(x))
          this.$store.dispatch('auth/removeTag', tag)
        }
      }
    },
    editing: {
      get() {
        return this.$store.state.auth.editing
      },
      set(value) {
        this.$store.commit('auth/updateEditing', value)
      }
    },
    profile: function () {
      return this.$store.state.auth.profile
    },
    displayName: {
      get() {
        return this.$store.state.auth.profile.displayName
      },
      set(value) {
        this.$store.commit('auth/updateDisplayName', value)
      }
    },
    description: {
      get() {
        return this.$store.state.auth.profile.description
      },
      set(value) {
        this.$store.commit('auth/updateDescription', value)
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('list/loadTags')
    })
  },
  methods: {
    save: function () {
      this.$store.dispatch('auth/updateProfile')
    },
    uniq(array1, array2) {
      const unique1 = array1.filter(o => array2.indexOf(o) === -1)
      const unique2 = array2.filter(o => array1.indexOf(o) === -1)

      return unique1.concat(unique2)
    }
  }
}
</script>
