<template>
  <v-layout row wrap>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-title primary-title>
          <v-flex xs12>
            <v-flex xs12>
              <h1>Tags</h1>
            </v-flex>
            <v-flex xs12>
              <v-chip v-for="tag in tags" :key="tag">
                {{ tag }}
              </v-chip>
            </v-flex>
          </v-flex>
        </v-card-title>

        <v-card-actions>
          <v-flex xs12>
            <v-text-field
              v-model="tagName"
              label="Nome da tag"
            />
          </v-flex>

          <v-btn flat @click="addTag">
            Adicionar Tag
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'Tags',
  data() {
    return {
      tagName: ''
    }
  },
  computed: {
    tags: function () {
      return this.$store.state.list.tags
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('list/loadTags')
    })
  },
  methods: {
    addTag(tags) {
      this.$store.dispatch('list/addTag', this.tagName)
      this.tagName = ''
    }
  }
}
</script>
